<html>
<head>
  <h1>AT</h1>
  <h2>The class of few</h2>
<link rel="stylesheet" type="text/css" href="class.css">
</head>
<body>

<!--   I am almost certain that there is a better way to do this.  -->

<center>
  <a target="_blank" href="Clem.png">
    <img src="Clem.png" width="300" height="200">
  </a>
  <div class="desc">The supreme leader</div>
<button type="button" onclick="loadDoc()">Click here for more info</button>
</center>

<div id ="main" style="display:none">
<div class="gallery">
  <a target="_blank" href="Daniel.png">
    <img src="Daniel.png" width="300" height="200">
  </a>
  <div class="desc">Knew how to code before the class</div>
</div>

<div class="gallery">
  <a target="_blank" href="Matt.png">
    <img src="Matt.png" width="300" height="200">
  </a>
  <div class="desc">Just another Jerry trying to code</div>
</div>

<div class="gallery">
  <a target="_blank" href="Max.png">
    <img src="Max.png" width="300" height="200">
  </a>
  <div class="desc">Just another Jerry trying to code</div>
</div>

<div class="gallery">
  <a target="_blank" href="Nick.png">
    <img src="Nick.png" width="300" height="200">
  </a>
  <div class="desc">Just another Jerry trying to code</div>
</div>

<div class="gallery">
  <a target="_blank" href="Sam.png">
    <img src="Sam.png" width="300" height="200">
  </a>
  <div class="desc">Knows how to code</div>
</div>

  <div class="gallery">
    <a target="_blank" href="Alex.jpg">
      <img src="Alex.jpg" width="300" height="200">
    </a>
    <div class="desc">Also a proficient coder</div>
</div>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p>Genera sunt maxima quidem semper. Sine dubio esse scimus. Si tibi non opus est tibi ut powerschool extention tua.
</p>
<br>
<center>
<p2>This may have been one of the greatest classes of all time. Without a doubt, we know this to be true to this day. You don't need a powerschool extention to be great, if you make your own powerschool and be great as well.
</p2></center>

</body>

<script>
function loadDoc() {
  console.log("running");
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("main").innerHTML = this.responseText;
   }else{
       document.getElementById('main').style.display = "inline";
   }
  };
  xhttp.open("GET", "user", true);
}
</script>
</html>
