<html>
<head>
  <h1>AT</h1>
  <h2>The class of few</h2>
<link rel="stylesheet" type="text/css" href="class.css">
</head>
<body>

<!--   I am almost certain that there is a better way to do this.  -->

<center>
  <a target="_blank" href="Clem.png">
    <img src="Clem.png" width="300" height="200">
  </a>
  <div class="desc">The supreme leader</div>
</center>

<div class="gallery">
  <a target="_blank" href="Daniel.png">
    <img src="Daniel.png" width="300" height="200">
  </a>
  <div class="desc">Knew how to code before the class</div>
</div>

<div class="gallery">
  <a target="_blank" href="Matt.png">
    <img src="Matt.png" width="300" height="200">
  </a>
  <div class="desc">Just another Jerry</div>
</div>

<div class="gallery">
  <a target="_blank" href="Max.png">
    <img src="Max.png" width="300" height="200">
  </a>
  <div class="desc">Just another Jerry</div>
</div>

<div class="gallery">
  <a target="_blank" href="Nick.png">
    <img src="Nick.png" width="300" height="200">
  </a>
  <div class="desc">Just another Jerry</div>
</div>

<div class="gallery">
  <a target="_blank" href="Sam.png">
    <img src="Sam.png" width="300" height="200">
  </a>
  <div class="desc">Knows how to code</div>
</div>

  <div class="gallery">
    <a target="_blank" href="Alex.jpg">
      <img src="Alex.jpg" width="300" height="200">
    </a>
    <div class="desc">Also a proficient coder</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
</p>
</body>
</html>
