<html>
<title>Login-page</title>
<body style="background-color:rgb(183, 237, 247)">
<div class="login-page">
<div class="form">

<center>
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <img src="images.jpg" style="width:100px;height:100px; ">
  <br>
  <br>


<div style="width:350px;height:90px;border:solid; border-width:2px; border-bottom: none; border-color: blue;"><h1>PowerSchool</h1></div>
<div style="width:350px;height:90px;border:solid; border-width:2px; border-bottom: none; border-color: blue;">
  <h3>Username</h3>
  <input type="text" placeholder="username" id = "tempUser"/>
</div>
<div style="width:350px;height:90px;border:solid; border-width:2px; border-bottom: none; border-color: blue;">
      <h3> Password</h3>
      <input type="password" placeholder="password" id = "tempPass"/>
    <br><br>
  </div>
  <div style="width:350px;height:20px;border:2px solid blue;">

    <script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js">
    function renderCourses (req, res) {
      res.render('/courses')
    }
    </script>

     <button type="button" onclick="window.location.href = 'class.html';">***</button>
     <button type="button" onclick="window.location.href = 'courses.html'">login--DataBase</button>
     <button type="button" onclick="renderCourses'">login--DataBase</button>

    </div>

    </tr>
    <br><br>
    <p class="message">Not registered? <a href="https://manage.auth0.com/#/">Create an account now!</a></p>
  </center>
  </div>
</div>
</html>
